<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
      <a class="navbar-brand" href="{% url 'index' %}">Perguntas em inglês</a>
      
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Categorias</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Todas as perguntas</a>
            </li>
            
            {% for categoria in categorias %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 {{ categoria }}
                </a>
                
                <ul class="dropdown-menu dropdown-menu-dark position-absolute">
                  {% for sub in sub_categorias %}
                    <li><a class="dropdown-item" href="{% url 'pergunta_sub_categorias' sub.id %}"> {{ sub.nome_sub_categoria }} </a></li>
                    <!-- <li><a class="dropdown-item" href="#">Another action 1</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here 1</a></li> -->
                  {% endfor %}
                </ul>
             
              </li>
            {% endfor %}

          
            <!-- Trazendo todas as perguntas que vem da index -->
            {% for todas_as_perguntas in lista_perguntass %}
              <p><a href="{% url 'pergunta_resposta' todas_as_perguntas.id %}">{{ todas_as_perguntas }}</p></a>
            {% endfor %}

          
            <!-- Trazer as perguntas específicas da sub categoria -->
            {% for sub in perguntass_sub_categorias %}

              <a href="{% url 'pergunta_resposta' sub.id %}" class="text-white text-decoration-none">{{ sub }}</a>

            {% endfor %}
          

        
        </div>
      </div>
    </div>
  </nav> 